body{
    margin: 0 auto;
}


.navbar {
    background-color: #CC8E35;
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 100;
    font-family: MyFont;
 }

 .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 2vh 5vh;
    text-decoration: none;
    font-size: 2.5vh;
    font-family: MyFont;

 }

 .navbar a:hover {
    background-color: lightgrey;
    color: black;
 }

.active {
    background-color: grey;
}

.nav-date{
    float: right;
    display: block;
    color: white;
    padding: 1.74vh 5vh;
    font-size: 3vh;
}

.alert {
    width: 0 auto;
    border-radius: 5px;
    padding: 2px 2px;
    text-align: center;
    font-size: 18px;
    color: white;
    background-color: grey;
}